body {
  background: #4f5be0;
}
#title {
  color: #a000ff;
}
.subtitle {
  color: #00bbff;
}
#service-image {
  height: 400px;
  width: 70%;
  background: radial-gradient(circle, red 20%, blue 40%, green 55%);
}
