body {
  background: linear-gradient(to bottom, rgb(87, 46, 46));
  font-size: 1.15em;
  text-align: justify;
  font-family: "Yellowtail", sans-serif;
}
#title {
  color: #a000ff;
  font-family: "Dancing Script", sans-serif;
}
.subtitle {
  color: #00bbff;
  font-family: "Dancing Script", sans-serif;
}
#service-image {
  height: 400px;
  width: 70vw;
  background: radial-gradient(circle, red 20%, blue 40%, green 55%);
  border: 5px solid red;
}

.link {
  text-decoration: underline;
  color: black;
}
.italics {
  font-style: italic;
}
#about-us-image {
  height: 300px;
  width: 60%;
  border: 5px solid red;
  padding: 100px;
}
