body {
  background: linear-gradient(to bottom, rgb(87, 46, 46));
  font-size: 1.15em;
  text-align: justify;
  font-family: "Yellowtail", sans-serif;
}
#title {
  color: #a000ff;
  font-family: "Dancing Script", sans-serif;
}
.subtitle {
  color: #00bbff;
  font-family: "Dancing Script", sans-serif;
}
#service-image {
  height: 400px;
  width: 70vw;
  background: radial-gradient(circle, red 20%, blue 40%, green 55%);
  border: 5px solid red;
}

.link {
  text-decoration: underline;
  color: black;
}
.italics {
  font-style: italic;
}
#about-us-image {
  height: 300px;
  width: 60%;
  border: 5px solid red;
  margin: 80px 40px;
  transition: 500ms;
  float: right;
}
#about-us-image:hover {
  transform: scale(1.3);
}
.site-table {
  display: inline-block;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  height: 200px;
}
.container {
  background-color: white;
  margin: 10px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-item {
  font-family: sans-serif;
  background: green;
  color: white;
  font-size: 25px;
  text-align: center;
  width: 70px;
  line-height: 50px;
  margin: 10px;
}
.grid-container {
  background-color: rgb(250, 250, 250);
  margin: 10px;
  height: 500px;
  font-family: sans-serif;
  color: white;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.grid-item {
  color: white;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 40px;
  margin: 10px;
}
.submit-button {
  padding: 10px 15px;
  border: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: lightblue;
  margin: 20px;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-atransition: all 300ms ease-in-out;
}
.submit-button:hover {
  background: darkblue;
  padding: 12px 25px;
  transform: scale(1.2) translate(9px, 2px) rotate(540deg);
}
#about-me {
  /* animation-name: red-to-black;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: -2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; */
  animation: red-to-black 4s linear 0s 2 alternate-reverse;
}
@keyframes red-to-black {
  0% {
    background-color: red;
    transform: translate(0px, 0px);
  }
  50% {
    background-color: yellow;
    transform: translate(10px, 10px);
  }
  100% {
    background-color: black;
    transform: translate(20px, 20px);
  }
}
